.game{
    width: 75%;
    margin: 0 auto;
}

.game-views{
    display: flex;
    width: 100%;
    padding: 0;
}

.left, .right{
    width: 13.75%;
}

.mid{
    width: calc(4 * (13.75% + 1% + 1vw + 3pt));
}

.info-bar{
    margin: 0 auto;
    width: 65.5%;
    font-size: 2.5vw;
}

.player{
    margin-top: 1%;
}

.player > .info-bar{
    font-size: 1vw;
    width: 100%;
}

canvas{
    aspect-ratio: 1/1;
    width: 90%;
    border: solid 1pt  black;
}