.game{
    position: absolute;
    width: 75%;
    margin: 0 auto;
}

.game-views{
    display: flex;
    width: 100%;
    padding: 0;
}

.left, .right{
    width: 13.75%;
}
.left{
    margin-left: 12vw;
 }

.right{
    margin-right: 12vw;
}

.mid{
    width: calc(4 * (13.75% + 1% + 1vw + 3pt));
}

.own-info-bar{
    margin: 0 auto;
    width: 40vw;
    font-size: 2.5vw;
    text-align: left;
    padding-left: 6.5vw;
}

.info-bar{
    margin: 0 auto;
    width: 100%;
    font-size: 0.75vw;
    text-align: left;
    padding-left: 0.5vw;
}

.player{
    margin-top: 1%;
}

.heart_img{
    margin-right: 5pt;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 1.75vw;
    height: auto;
}


.player .heart_img{
    margin-right: 1pt;
    width: 0.5vw;
    height: auto;
}

.timer{
    margin-right: 6.5vw;
    float: right;
}
