.username{
    text-align: center;
    height: 25pt;
}

.debug_username, .debug_game_id, .debug_text{
    min-height: 14pt;
    color: orange;
    font-size: 10pt;
}

.game_id{
    text-align: center;
    height: 20pt;
}

.create_game{
    margin-bottom: 5vh;
}
