.username{
    text-align: center;
    height: 25pt;
    margin-bottom: 10pt;
}

.debug_text{
    min-height: 14pt;
    color: orange;
    font-size: 10pt;
    margin: 15pt 0;
}

.game_id{
    text-align: center;
    height: 20pt;
    margin-bottom: 10pt;
}

