.player_list{
    padding: 10pt;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 25pt;

    border: solid 2pt #EEEEEE;
    border-radius: 10pt;
    background: #393E46;
}

.cross{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-right: 5pt;
}
