<div class="content overlapping">
    <div class="overview">
        <div class="game_over_header">Game Overview</div>

        <div class="leaderboard">
            <ol class="leaderboard_players">

            </ol>
        </div>

        <button class="play_again" onclick="play_again()">play again</button>

    </div>
</div>