<div class="container">
    <h1>Snake Royale</h1>

    <div class="game">

        <div class="info-bar">
            <span class="own_lives"> </span> <span class="own_name"> </span>
        </div>

        <div class="game-views">
            <div class="left">
                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>
            </div>

            <div class="mid">
                <canvas class="own_game"></canvas>
            </div>

            <div class="right">
                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>

                <div class="player">
                    <div class="info-bar"> <span class="lives"> </span> <span class="name"> </span> </div>
                    <canvas class="enemy"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>