<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/lobby.css">
    <link rel="stylesheet" href="static/game.css">
    <link rel="stylesheet" href="static/style.css">

    <script src="scripts/communication.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/configure_game.js"></script>
    <script src="scripts/lobby.js"></script>
    <script src="scripts/game.js"></script>
    <title>Snake</title>

</head>
<body>

<div class="index" style="display: contents">
    <div class="container">
        <h1>SNAKE ROYALE</h1>
        <div class="debug_text"></div>
        <br>
        <input class="username" type="search" placeholder="username" onchange="updateUsername()" required>
        <br>
        <div class="debug_username"></div>
        <button class="create_game" onclick="configureGame()">create new game</button>
        <br>
        <input class="game_id" type="search" placeholder="#000" onchange="updateGameId()">
        <br>
        <div class="debug_game_id"></div>
        <button class="join" onclick="joinGame()">join game</button>

    </div>
</div>

<div class="configure_game" style="display: none">
    <%- include('configure_game'); %>
</div>

<div class="lobby" style="display: none">
    <%- include('lobby'); %>
</div>

<div class="game" style="display: none">
    <%- include('game'); %>
</div>

</body>
</html>