<div class="container">
    <h1>SNAKE ROYALE</h1>
    <h2>Lobby <span class="game_id_label">#000</span></h2>

    <ul class="player_list" id="player_list">
    </ul>

    <button class="start_game" onclick="startGame()">start game</button>
</div>